<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Anly管理后台</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="../src/css/app.css" media="all"/>
    <link rel="stylesheet" href="../src/css/default.css" media="all" id="skin" kit-skin/>
</head>

<body class="kit-theme">
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Anly 管理后台</div>
        <ul class="layui-nav layui-layout-right kit-nav nav-margin">
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="../src/img/Anly.jpg" class="layui-nav-img"> Anly</a>
                <dl class="layui-nav-child">
                    <dd><a href="system/login.html" class="signOut"><i class="fa fa-power-off font-ico-i-max "></i><cite>退出</cite></a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black kit-side">
        <div class="layui-side-scroll">
            <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>

                <!--个人中心start-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="fa fa-user" aria-hidden="true"></i><span> 个人中心 </span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="system/sys_user_info.html" data-icon="fa fa-address-card-o" data-title="个人资料" kit-target data-id="2"><i class="fa fa-address-card-o" aria-hidden="true"></i><span> 个人资料</span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="system/sys_forget_pwd.html" data-icon="fa fa-pencil-square-o" data-title="修改密码" kit-target data-id="3"><i class="fa fa-pencil-square-o"></i><span> 修改密码</span></a></dd>
                    </dl>
                </li>
                <!--个人中心end-->

                <!--用户管理start-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span> 用户管理 </span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="user/list.html" data-icon="fa fa-user-o" data-title="用户列表" kit-target
                               data-id="4"><i class="fa fa-user-o" aria-hidden="true"></i><span> 用户列表</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-list-alt" data-title="角色列表" kit-target data-id="5"><i class="fa fa-list-alt"></i><span> 角色列表</span></a></dd>
                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-book" data-title="菜单管理" kit-target data-id="6"><i class="fa fa-book"></i><span> 菜单管理</span></a></dd>
                    </dl>
                </li>
                <!--用户管理end-->

                <!--会员管理start-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="fa fa-users" aria-hidden="true"></i><span> 会员管理 </span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="userList.html" data-icon="fa fa-user-o" data-title="会员列表" kit-target data-id="7"><i class="fa fa-user-o" aria-hidden="true"></i><span> 会员列表
                            </span></a>
                        </dd>
                    </dl>
                </li>
                <!--会员管理end-->

                <!--内容管理start-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span> 内容管理 </span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="article/cate.html" data-icon="fa fa-tags" data-title="文章分类" kit-target
                               data-id="8"><i class="fa fa-tags" aria-hidden="true"></i><span> 文章分类</span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="article/list.html" data-icon="fa fa-file-text" data-title="文章列表" kit-target
                               data-id="9"><i class="fa fa-file-text" aria-hidden="true"></i><span> 文章列表</span></a>
                        </dd>
                    </dl>
                </li>
                <!--内容管理end-->

                <!--系统设置start-->
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;"><i class="fa fa-cogs" aria-hidden="true"></i><span> 系统设置 </span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="system/webconfig.html" data-icon="fa fa-wrench" data-title="系统基本参数" kit-target
                               data-id="20"><i class="fa fa-wrench" aria-hidden="true"></i><span> 系统基本参数</span></a>
                        </dd>

                        <dd><a href="javascript:;" data-url="system/sms.html" data-icon="fa fa-commenting-o" data-title="短信设置"  kit-target
                               data-id="10"><i class="fa fa-commenting-o"></i><span> 短信设置</span></a></dd>
                        <dd><a href="javascript:;" data-url="system/emailconfig.html" data-icon="fa fa-envelope" data-title="邮件设置" kit-target data-id="11"><i class="fa fa-envelope"></i><span> 邮件设置</span></a></dd>


                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-code" data-title="sql命令行功能工具" kit-target data-id="12"><i class="fa fa-code"></i><span> sql命令行功能工具</span></a></dd>
                        <dd>
                            <a href="javascript:;" data-url="nav.html" data-icon="fa fa-calendar-check-o" data-title="系统日志管理" kit-target
                               data-id="13"><i class="fa fa-calendar-check-o"></i><span> 系统日志管理</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-shield" data-title="验证安全管理" kit-target data-id="14"><i class="fa fa-shield"></i><span> 验证安全管理</span></a></dd>
                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-image" data-title="图片水印设置" kit-target data-id="15"><i class="fa fa-image"></i><span> 图片水印设置</span></a></dd>
                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-book" data-title="安全字典设置" kit-target data-id="16"><i class="fa fa-book"></i><span> 安全字典设置</span></a></dd>

                        <dd><a href="javascript:;" data-url="nav.html" data-icon="fa fa-bug" data-title="系统错误修复" kit-target data-id="17"><i class="fa fa-bug"></i><span> 系统错误修复</span></a></dd>
                    </dl>
                </li>
                <!--系统设置end-->

                <!--数据库管理start-->
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="fa fa-database" aria-hidden="true"></i><span> 数据库管理 </span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="system/dblist.html" data-icon="fa-server" data-title="数据库列表" kit-target
                               data-id="18"><i class="fa fa-server" aria-hidden="true"></i><span> 数据库列表</span></a></dd>
                        <dd><a href="javascript:;" data-url="./system/restore.html" data-icon="fa-reply" data-title="还原数据库" kit-target data-id="19"><i class="fa fa-reply"></i><span> 还原数据库</span></a></dd>
                    </dl>
                </li>
                <!--数据库管理end-->
            </ul>
        </div>
    </div>
    <div class="layui-body" id="container">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;"><i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>
            请稍等...
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright &copy; 2017 Anly
    </div>
</div>

<script src="../lib/layui/layui.js"></script>
<script>
    var message;
    layui.config({
        base   : '../src/js/',
        version: '1.0',
    }).use(['app', 'message'], function () {
        var app   = layui.app,
            $     = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message   = layui.message;
        //主入口
        app.set({
            type: 'iframe',
        }).init();
        $('dl.skin > dd').on('click', function () {
            var $that = $(this);
            var skin  = $that.children('a').data('skin');
            switchSkin(skin);
        });
        var setSkin     = function (value) {
                layui.data('kit_skin', {
                    key  : 'skin',
                    value: value,
                });
            },
            getSkinName = function () {
                return layui.data('kit_skin').skin;
            },
            switchSkin  = function (value) {
                var _target  = $('link[kit-skin]')[0];
                _target.href = _target.href.substring(0, _target.href.lastIndexOf('/') + 1) + value + _target.href.substring(_target.href.lastIndexOf('.'));
                setSkin(value);
            },
            initSkin    = function () {
                var skin = getSkinName();
                switchSkin(skin === undefined ? 'default' : skin);
            }();
    });
</script>

</body>

</html>