<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css" media="all">
</head>

<body class="childrenBody">

    <div class="layui-row layui-col-space10 panel_box">
        <div class="layui-col-md2">
            <div class="info-box">
                <span class="info-box-icon" style="background-color:#00c0ef !important;color:white;"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">666</span>
                    <span class="info-box-text">短信数目</span>
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="info-box">
                <span class="info-box-icon" style="background-color:#FF5722; !important;color:white;"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">666</span>
                    <span class="info-box-text">新增人数</span>
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="info-box">
                <span class="info-box-icon" style="background-color:#009688; !important;color:white;"><i class="fa fa-users" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">654</span>
                    <span class="info-box-text">用户总数</span>
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="info-box">
                <span class="info-box-icon" style="background-color:#5FB878; !important;color:white;"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">85</span>
                    <span class="info-box-text">图片总数</span>
                </div>
            </div>
        </div>

        <div class="layui-col-md2">
            <div class="info-box">
                <span class="info-box-icon" style="background-color:#F7B824; !important;color:white;"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">85</span>
                    <span class="info-box-text">待审核文章</span>
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="info-box">
                <span class="info-box-icon" style="background-color:#2F4056; !important;color:white;"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">85</span>
                    <span class="info-box-text">文章总数</span>
                </div>
            </div>
        </div>
    </div>

    <blockquote class="layui-elem-quote">
        <p>Anly管理后台基于Layui 2.* 开发。</p>
        <p>技术交流QQ群: <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=fe3712c04af3ff55ad67038c9c8e8c8fdf9f9c12183ed9c46a471e56fef273f1"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="猿动力" title="猿动力"></a>【喜欢的小伙伴，可以加入我们喔!】</p>
    </blockquote>

<div class="row">
    <div class="sysNotice col">
        <blockquote class="layui-elem-quote title">更新日志</blockquote>
        <div class="layui-elem-quote layui-quote-nm">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">伴随layui成长</h3>
                        <p>
                            <br>倾心打造完美管理后台，及时更新最新技术栈
                            <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i>
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">Anly cms初衷</h3>
                        <p>
                            <br>很久很久以前一直想做一套完整的cms,由于各种因素搁置了
                            <br>发现layui非常的漂亮、简洁
                            <br>社区后台cms及其他作为参考
                            <br>打造简易通用管理后台，实现拿来即用的效果
                        </p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">过去</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sysNotice col">
        <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
        <table class="layui-table">
            <colgroup>
                <col width="150"><col>
            </colgroup>
            <tbody>
            <tr>
                <td>当前版本</td>
                <td>v1.0</td>
            </tr>
            <tr>
                <td>开发作者</td>
                <td>Anly</td>
            </tr>
            <tr>
                <td>系统环境</td>
                <td>7.1.15-1+ubuntu16.04.1+deb.sury.org+2+nginx/1.10.3+mysql5.7</td>
            </tr>
            <tr>
                <td>服务器时间</td>
                <td>2018-3-31 15:01:13</td>
            </tr>
            <tr>
                <td>最大上传限制</td>
                <td>2M</td>
            </tr>
            <tr>
                <td>当前用户权限</td>
                <td>超级管理员</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="../lib/layui/layui.js"></script>
</body>

</html>